{% extends 'common/base.html' %}
{% load static %}
{% block body %}

    <body>
    {% include 'common/header.html' %}


    <div class="banner-wrapper-inner">
        <h1 class="page-title">About</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="{% url 'home:home'%}"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>About</span>
                </li>
            </ul>
        </div>
    </div>
 <img src="static/images/banner-for-all2.jpg" class="img-responsive attachment-1920x447 size-1920x447" alt="img">



    <div class="section-037">
        <div class="container">
            <div class="lynessa-popupvideo style-01">
                <div class="popupvideo-inner">
                    <div class="icon">
                        <img src="/static/images/about-img.jpg" class="attachment-full size-full" alt="img">
                        <div class="product-video-button">
                            <a class="buttonvideo" href="#" data-videosite="vimeo" data-videoid="158800043"
                               tabindex="0">
                                <div class="videobox_animation circle_1"></div>
                                <div class="videobox_animation circle_2"></div>
                                <div class="videobox_animation circle_3"></div>
                            </a>
                        </div>
                    </div>
                    <div class="popupvideo-wrap">
                        <h4 class="title">
                            Who we are </h4>
                        <p class="desc">We believe in a world where you have total freedom to be you, without judgement.
                            To experiment. To express yourself. To be brave and grab life as the extraordinary adventure
                            it is. So we make sure everyone has an equal chance to discover all the amazing things
                            they’re capable of – no matter who they are, where they’re from or what looks they like to
                            boss.</p>
                        <p>Our audience (AKA you) is wonderfully unique. And we do everything we can to help you find
                            your fit, offering our Ciloe Brands in more than 30 sizes – and we’re committed to providing
                            all sizes at the same price</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="lynessa-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Meet Our Team </h3>
                    <div class="subtitle">
                        A perfect blend of creativity and technical wizardry<br>
                        The best people fomula for great websites!
                    </div>
                </div>
            </div>
            <div class="lynessa-slide">
                <div class="owl-slick equal-container better-height slick-initialized slick-slider slick-dotted"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <span class="fa fa-angle-left prev slick-arrow slick-disabled" aria-disabled="true"
                          style="display: block;"></span>


                    <div class="slick-list draggable">
                        <div class="slick-track"
                             style="opacity: 1; width: 2400px; transform: translate3d(0px, 0px, 0px);">
                            <div class="lynessa-team style-01 first-slick slick-slide slick-current slick-active"
                                 style="margin-right: 30px; width: 350px;" data-slick-index="0" aria-hidden="false"
                                 tabindex="0" role="tabpanel" id="slick-slide00"
                                 aria-describedby="slick-slide-control00">
                                <div class="team-inner">
                                    <div class="thumb-avatar">
                                        <a href="#" target="_self" tabindex="0">
                                            <img src="static/images/team-img1.jpg" class="attachment-full size-full"
                                                 alt="img"></a>
                                        <div class="list-social">
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="content-team">
                                        <h3 class="name">
                                            <a href="#" target="_self" tabindex="0">
                                                Annie Taylor </a>
                                        </h3>
                                        <p class="positions">Operations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lynessa-team style-01 slick-slide slick-active"
                                 style="margin-right: 30px; width: 350px;" data-slick-index="1" aria-hidden="false"
                                 tabindex="0" role="tabpanel" id="slick-slide01"
                                 aria-describedby="slick-slide-control01">
                                <div class="team-inner">
                                    <div class="thumb-avatar">
                                        <a href="#" target="_self" tabindex="0">
                                            <img src="static/images/team-img2.jpg" class="attachment-full size-full"
                                                 alt="img"> </a>
                                        <div class="list-social">
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="content-team">
                                        <h3 class="name">
                                            <a href="#" target="_self" tabindex="0">
                                                Ayomide Regan </a>
                                        </h3>
                                        <p class="positions">Marketing Personal</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lynessa-team style-01 slick-slide slick-active"
                                 style="margin-right: 30px; width: 350px;" data-slick-index="2" aria-hidden="false"
                                 tabindex="0" role="tabpanel" id="slick-slide02"
                                 aria-describedby="slick-slide-control02">
                                <div class="team-inner">
                                    <div class="thumb-avatar">
                                        <a href="#" target="_self" tabindex="0">
                                            <img src="static/images/team-img3.jpg" class="attachment-full size-full"
                                                 alt="img"> </a>
                                        <div class="list-social">
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                            <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="content-team">
                                        <h3 class="name">
                                            <a href="#" target="_self" tabindex="0">
                                                Violet Frase </a>
                                        </h3>
                                        <p class="positions">Director</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lynessa-team style-01 slick-slide" style="margin-right: 30px; width: 350px;"
                                 data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel"
                                 id="slick-slide03" aria-describedby="slick-slide-control03">
                                <div class="team-inner">
                                    <div class="thumb-avatar">
                                        <a href="#" target="_self" tabindex="-1">
                                            <img src="static/images/team-img4.jpg" class="attachment-full size-full"
                                                 alt="img"> </a>
                                        <div class="list-social">
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="content-team">
                                        <h3 class="name">
                                            <a href="#" target="_self" tabindex="-1">
                                                Frank Greer </a>
                                        </h3>
                                        <p class="positions">Operations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lynessa-team style-01 slick-slide" style="margin-right: 30px; width: 350px;"
                                 data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel"
                                 id="slick-slide04" aria-describedby="slick-slide-control04">
                                <div class="team-inner">
                                    <div class="thumb-avatar">
                                        <a href="#" target="_self" tabindex="-1">
                                            <img src="static/images/team5-1.jpg" class="attachment-full size-full"
                                                 alt="img"> </a>
                                        <div class="list-social">
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="content-team">
                                        <h3 class="name">
                                            <a href="#" target="_self" tabindex="-1">
                                                Mark Tucker </a>
                                        </h3>
                                        <p class="positions">Partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lynessa-team style-01 slick-slide" style="margin-right: 30px; width: 350px;"
                                 data-slick-index="5" aria-hidden="true" tabindex="-1" role="tabpanel"
                                 id="slick-slide05" aria-describedby="slick-slide-control05">
                                <div class="team-inner">
                                    <div class="thumb-avatar">
                                        <a href="#" target="_self" tabindex="-1">
                                            <img src="static/images/team6.jpg" class="attachment-full size-full"
                                                 alt="img"> </a>
                                        <div class="list-social">
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                            <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="content-team">
                                        <h3 class="name">
                                            <a href="#" target="_self" tabindex="-1">
                                                Perry Conner </a>
                                        </h3>
                                        <p class="positions">Partner</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="fa fa-angle-right next slick-arrow" style="display: block;"
                          aria-disabled="false"></span>
                    <ul class="slick-dots" style="display: block;" role="tablist">
                        <li class="last-slick slick-active" role="presentation">
                            <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00"
                                    aria-label="1 of 2" tabindex="0" aria-selected="true">1
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01"
                                    aria-label="2 of 2" tabindex="-1">2
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02"
                                    aria-label="3 of 2" tabindex="-1">3
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03"
                                    aria-label="4 of 2" tabindex="-1">4
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-039 section-001">
        <div class="container">
            <div class="lynessa-slide">
                <div class="owl-slick equal-container better-height slick-initialized slick-slider"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;50&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;60&quot;}}]">


                    <div class="slick-list draggable">
                        <div class="slick-track"
                             style="opacity: 1; width: 1410px; transform: translate3d(0px, 0px, 0px);">
                            <div class="dreaming_single_image dreaming_content_element az_align_center first-slick slick-slide slick-current slick-active"
                                 style="margin-right: 60px; width: 174px;" data-slick-index="0" aria-hidden="false"
                                 tabindex="0">
                                <figure class="dreaming_wrapper az_figure">
                                    <div class="az_single_image-wrapper az_box_border_grey effect bounce-in "><img
                                            src="static/images/brand-logo-1.png"
                                            class="az_single_image-img attachment-full" alt="img" width="200"
                                            height="100">
                                    </div>
                                </figure>
                            </div>
                            <div class="dreaming_single_image dreaming_content_element az_align_center slick-slide slick-active"
                                 style="margin-right: 60px; width: 174px;" data-slick-index="1" aria-hidden="false"
                                 tabindex="0">
                                <figure class="dreaming_wrapper az_figure">
                                    <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                            src="static/images/brand-logo-5.png"
                                            class="az_single_image-img attachment-full" alt="img" width="200"
                                            height="100">
                                    </div>
                                </figure>
                            </div>
                            <div class="dreaming_single_image dreaming_content_element az_align_center slick-slide slick-active"
                                 style="margin-right: 60px; width: 174px;" data-slick-index="2" aria-hidden="false"
                                 tabindex="0">
                                <figure class="dreaming_wrapper az_figure">
                                    <div class="az_single_image-wrapper  az_box_border_grey effect bounce-in "><img
                                            src="static/images/brand-logo-4.png"
                                            class="az_single_image-img attachment-full" alt="img" width="200"
                                            height="100">
                                    </div>
                                </figure>
                            </div>
                            <div class="dreaming_single_image dreaming_content_element az_align_center slick-slide slick-active"
                                 style="margin-right: 60px; width: 174px;" data-slick-index="3" aria-hidden="false"
                                 tabindex="0">
                                <figure class="dreaming_wrapper az_figure">
                                    <div class="az_single_image-wrapper az_box_border_grey effect bounce-in "><img
                                            src="static/images/brand-logo-3.png"
                                            class="az_single_image-img attachment-full" alt="img" width="200"
                                            height="100">
                                    </div>
                                </figure>
                            </div>
                            <div class="dreaming_single_image dreaming_content_element az_align_center last-slick slick-slide slick-active"
                                 style="margin-right: 60px; width: 174px;" data-slick-index="4" aria-hidden="false"
                                 tabindex="0">
                                <figure class="dreaming_wrapper az_figure">
                                    <div class="az_single_image-wrapper az_box_border_grey effect bounce-in "><img
                                            src="static/images/brand-logo-2.png"
                                            class="az_single_image-img attachment-full" alt="img" width="200"
                                            height="100">
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-040">
        <div class="lynessa-heading style-01">
            <div class="heading-inner">
                <h3 class="title">
                    Follow Us </h3>
                <div class="subtitle">
                    @lynessastore
                </div>
            </div>
        </div>
        <div class="lynessa-instagram style-01">
            <div class="instagram-owl owl-slick slick-initialized slick-slider"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;0&quot;}}]">


                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 1728px; transform: translate3d(0px, 0px, 0px);">
                        <div class="rows-space-0 first-slick slick-slide slick-current slick-active"
                             style="margin-right: 0px; width: 216px;" data-slick-index="0" aria-hidden="false"
                             tabindex="0">
                            <a href="#" class="item" tabindex="0">
                                <img class="img-responsive" src="static/images/insta1.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 slick-slide slick-active" style="margin-right: 0px; width: 216px;"
                             data-slick-index="1" aria-hidden="false" tabindex="0">
                            <a href="#" class="item" tabindex="0">
                                <img class="img-responsive" src="static/images/insta2.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 slick-slide slick-active" style="margin-right: 0px; width: 216px;"
                             data-slick-index="2" aria-hidden="false" tabindex="0">
                            <a href="#" class="item" tabindex="0">
                                <img class="img-responsive" src="static/images/insta3.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 slick-slide slick-active" style="margin-right: 0px; width: 216px;"
                             data-slick-index="3" aria-hidden="false" tabindex="0">
                            <a href="#" class="item" tabindex="0">
                                <img class="img-responsive" src="static/images/insta4.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 slick-slide slick-active" style="margin-right: 0px; width: 216px;"
                             data-slick-index="4" aria-hidden="false" tabindex="0">
                            <a href="#" class="item" tabindex="0">
                                <img class="img-responsive" src="static/images/insta5.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 last-slick slick-slide slick-active"
                             style="margin-right: 0px; width: 216px;" data-slick-index="5" aria-hidden="false"
                             tabindex="0">
                            <a href="#" class="item" tabindex="0">
                                <img class="img-responsive" src="static/images/insta6.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 slick-slide" style="margin-right: 0px; width: 216px;"
                             data-slick-index="6" aria-hidden="true" tabindex="-1">
                            <a href="#" class="item" tabindex="-1">
                                <img class="img-responsive" src="static/images/insta7.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                        <div class="rows-space-0 slick-slide" style="margin-right: 0px; width: 216px;"
                             data-slick-index="7" aria-hidden="true" tabindex="-1">
                            <a href="#" class="item" tabindex="-1">
                                <img class="img-responsive" src="static/images/insta8.jpg" alt="About">
                                <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'common/footer.html' %}
    </body>
{% endblock %}
